body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 50px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

header {
    text-align: center;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.name-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-date > span {
    margin-right: 5px;
}

input[type="text"],
input[type="date"] {
    padding: 5px;
    border: 1px solid #ddd;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 5px;
}

label { 
    margin-left: 8px; 
}

.submit-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
