* {
    -fx-border-width: 2;
}

#rootPane {
    -fx-border-color: purple;
}

#menuPane {
    -fx-min-width: 100;
    -fx-min-height: 500;
    -fx-vgap: 10;
    -fx-padding: 10;
    -fx-border-color: red;
}

#windowPane {
    -fx-border-color: black;
}

#dashboardPane {
    -fx-border-color: green;
    -fx-min-width: 1000;
}

#scheduleQuizButton {
    -fx-min-width: 150;
    -fx-min-height: 60;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#quizzesButton, #passwordsButton, #classesButton, #databaseInfoButton, #settingsButton {
    -fx-min-width: 120;
    -fx-min-height: 40;
}

#settingsSpacingPane {
    -fx-border-color: orange;
    -fx-min-height: 400;
    -fx-insets: 10, 10, 10, 10;
    -fx-padding: 10;
}

#titlePane {
    -fx-border-color: blue;
    -fx-min-height: 80;
}

#windowTitle {
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

#databaseInfo {
    -fx-font-size: 18;
}

#quizzesTable, #questionsTable, #classesTable, #passwordsTable, #studentsBox {
    -fx-padding: 50;
}

#studentsBox {
    -fx-spacing: 25;
}

#uploadStudentsButton {
    -fx-padding: 10;
}

#cell {
    -fx-padding: 5;
}