* {
    -fx-font-family: Gotu;
}
.root {
    -fx-background-color: linear-gradient(to bottom right,rgba(253,222,190), rgba(255,245,140));
}

#menuPane {
    -fx-padding: 3;
    -fx-border-color: black;
}

#dashboardPane {
    -fx-border-color: black;
}

#startQuizButton {
    -fx-background-color: #DAF7A6;
    -fx-padding: 8 15 15 15;
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-border-color: black;
    -fx-font-size: 30;
    -fx-margin: 500px;
}

#startQuizButton:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b9d18e 0%, #92db0f 100%),
            #92db0f,
            #b9d18e,
            radial-gradient(center 50% 50%, radius 100%, #b9d18e, #92db0f);
}

#startQuizButton:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#quizzesButton, #passwordsButton, #classesButton, #databaseInfoButton {
    -fx-background-color: #ADD8E6; /* Light blue background */
    -fx-pref-width: 150px; /* Preferred width */
    -fx-pref-height: 50px; /* Preferred height */
    -fx-border-color: black; /* Border color */
    -fx-padding: 8 15 15 15;
    -fx-margin: 10px;
    -fx-font-size: 20;
}

#quizzesButton:hover, #passwordsButton:hover, #classesButton:hover , #databaseInfoButton:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ADD8E6 0%, #52c5eb 100%),
            #52c5eb,
            #ADD8E6,
            radial-gradient(center 50% 50%, radius 100%, #ADD8E6, #52c5eb);
}

#quizzesButton:pressed, #passwordsButton:pressed, #classesButton:pressed, #databaseInfoButton:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#settingsPane {
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-padding: 10px 20px;
    -fx-margin: 10px;
    -fx-font-size: 20;
}

#titlePane {
    -fx-border-color: black;
    -fx-min-height: 80;
    -fx-font-size: 20;
}

#windowTitle {
    -fx-font-size: 36;
    -fx-font-weight: bold;
}