body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('./bg.jpeg');
    background-size: cover;
    background-position: center;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 20%;
    max-width: 150px;
    height: auto;
}

.info {
    flex: 1;
    text-align: center;
}

.university-name {
    color: #f57e07;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.class-attendance {
    color: darkgreen;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 630px;
}

.login {
    margin: 50px auto;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
